/* base styles */
* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;    
}


h1 {
    text-align: center;
}

section {
    background-color:lightgray;
    position: relative;
    border: 1px solid black;
    padding:10px;
    padding-top: 32px;
    margin: 10px;
}

header{
    border: 1px solid black;
    width: auto;
    position: absolute;
    right:0px;
    top:0px;
    font-size:24px;
    font-weight: 500;
    padding: 5px;           
}

#chicken{
    background-color: pink;
    
}

#beef{
    background-color: red;
    color:white;
}

#sushi {
    background-color: yellow;
}

/* Styles for mobile screens (width <= 767px) */
@media(max-width:767px){


}

/* Styles for tablet screens(768 <= width <= 991px) */
@media (min-width: 768px) {
    @media (max-width: 991px) {
        section{
            float:left;
            margin-left:1%;
            margin-right:1%;
        }
    
        #section1, #section2{
            width:48%;        
        }    
    } 
    
}

/* Styles for desktop screens( width >= 992px) */
@media(min-width:992px){
    section {
        width: 31.33%;
        float:left;
        margin-left:1%;
        margin-right:1%;        
    }
}